<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:android   = "http://schemas.android.com/apk/res/android"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.bsdmasterindex.Generic-Boilerplate8"
        version     = "1.0.0"
        versionCode = "100" > <!-- versionCode is optional and Android only -->
        <!-- Tool Set Version -->        
        <!-- <preference name='phonegap-version' value='cli-5.2.0' /> -->
        <!-- Testing the system -->
        <!-- <preference name='phonegap-version' value='cli-5.4.1' /> -->
        <preference name='phonegap-version' value='cli-6.0.0' />

        <name>Generic-Boilerplate8</name>
        <description>Generic-Boilerplate8</description>
        <author href="http://bsdmasterindex.com" email="jessemonroy650@yahoo.com">
        Jesse Monroy
        </author>

        <!-- Target Platforms -->
        <!-- Remove to test which platforms build by default. -->
        <platform name="android" />
        <platform name="ios" />
        <platform name="winphone" />

    </widget>
